################################################################################
# COMPILATION

# ---------------------
# C++
*.out
*.o

# ---------------------
# CMake
build/

################################################################################
# LCOV reports
*.info
*.html
*.css

################################################################################
# VALGRIND
callgrind.out.*

################################################################################
# EMACS
*~
*\.#*